$gf-fs-l: 27px;
$gf-fs-m: 18px;
$gf-bg-1: $mineshaft;
$gf-bg-2: $tiffany;

.c-gifts {
  display: flex;
  color: white;
}

.c-gf-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.c-gf-panel-header {
  background-size: cover;
  background-position: center;
  min-height: 300px;
  flex: 1;
}

.c-gf-image {
  width: 100%;
  max-height: 100%;
}

.c-gf-panel-body {
  padding: 50px;
}

.c-gf-panel.one {
  .c-gf-panel-body {
    background-color: $gf-bg-1;
  }
}

.c-gf-panel.two {
  .c-gf-panel-body {
    background-color: $gf-bg-2;
    order: -1;
  }
}

.c-gf-title {
  font-size: $gf-fs-l;
  text-transform: uppercase;
} 

.c-gf-subtitle {
  margin-top: 15px;
  font-size: $gf-fs-m;
  text-transform: uppercase;
} 

.c-gf-separator {
  margin-top: 15px;
  width: 50px;
  height: 3px;
  background-color: white;
}

.c-gf-text {
  margin-top: 15px;
}
