* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lora', 'Times New Roman', serif;
}

@mixin _wrapper {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  max-width: 1024px;
}

@mixin _boxed {
  padding: 50px;
  background-color: white;
  color: $darkgray;
  line-height: 22px;
  box-shadow: 0 0 3px rgba($mineshaft, 0.4);
}