*
  box-sizing: border-box

html, body
  padding: 0
  margin: 0
  height: 100%
  font-family: 'Fjalla One', sans-serif
  color: $dark

.site-container
  display: flex

  .side-content
    position: relative
    width: 325px

  .main-content
    flex: 1
