$rsvp-fs-l: 27px;
$rsvp-fs-m: 18px;

$rsvp-title-c: $mineshaft;
$rsvp-embed-bg: #EBEBEB;
$rsvp-accent-c: $tiffany;

.c-rsvp-panels {
  display: flex;
}

.c-rsvp-panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  
  &.left {
    min-height: 400px;
    background-image: url(/images/Immagine11.png);
    background-size: cover;
    background-position: center center;
  }

  &.right {
    @include _boxed;

    padding: 0;
    box-shadow: none;
  }
}

.c-rsvp-panel-content {
  padding: 50px;
  flex: 1;
}

.c-rsvp-title {
  font-size: $rsvp-fs-l;
  color: $rsvp-title-c;
  text-transform: uppercase;
} 

.c-rsvp-subtitle {
  margin-top: 15px;
  font-size: $rsvp-fs-m;
  text-transform: uppercase;
} 

.c-rsvp-separator {
  margin-top: 15px;
  width: 50px;
  height: 3px;
  background-color: $rsvp-title-c;
}

.c-rsvp-text {
  margin-top: 15px;

  a {
    color: $rsvp-accent-c;
  }
}

.c-rsvp-embed {
  flex: 1;
  background-color: $rsvp-embed-bg;
}