section
  overflow: auto
  text-align: center

  .title
    margin: 0
    letter-spacing: -4px
    font-size: $fs-title
    font-weight: 700
    text-transform: uppercase
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)

    &::before,
    &::after
      content: ""
      display: block
      margin: 20px auto
      width: 220px
      height: 1px
      border-top: 4px double #FFF
