$tg-h: 520px;
$tg-box-w: 450px;
$tg-fs-l: 27px;
$tg-fs-m: 18px;

$tg-box-title-c: $mineshaft;
$tg-accent-c: $tiffany;
$tg-bg: $tiffany;

.c-thanksgiving {
  height: $tg-h;
}

.c-tg-panels {
  display: flex;
}

.c-tg-panel {
  &.one {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $tg-bg;
    flex: 2;
  }

  &.two {
    flex: 3;
  }
}

.c-tg-box {
  @include _boxed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $tg-box-w;
  text-align: center;
}

.c-tg-box-title {
  color: $tg-box-title-c;
  font-size: $tg-fs-l;
  text-transform: uppercase;
}

.c-tg-box-subtitle {
  margin-top: 20px;
  color: $tg-box-title-c;
  font-size: $tg-fs-m;
  text-transform: uppercase;
}

.c-tg-box-text {
  margin-top: 15px;

  .accent {
    color: $tg-accent-c;
    font-weight: bold;
    text-transform: uppercase;
  }

  .c-tg-box-list {
    margin: 0 auto;
    text-align: left;
    max-width: 455px;

    li {
      margin-top: 5px;
    }
  }
}

.c-tg-gallery {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.c-tg-pic {
  margin-right: 1px;
  width: calc((100% - 2px) / 3);
  height: calc((100% - 1px) / 2);
  background-size: cover;
  background-position: center center;

  &.margin {
    margin-bottom: 1px;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &.ale {
    background-image: url(/images/Alessandro3.jpg);
  }

  &.eli {
    background-image: url(/images/Elisa.jpg);
  }

  &.fra {
    background-image: url(/images/Francesca.jpg);
  }

  &.neil {
    background-image: url(/images/Neil.jpg);
  }

  &.francesco {
    background-image: url(/images/Francesco.jpg);
  }

  &.zuli {
    background-image: url(/images/Marco.jpg);
    background-position: left;
  }

}