.welcome-container
  background-color: $hopbush-color

.subtitle 
    letter-spacing: -2px
    font-size: $fs-h2
    font-weight: 700
    color: $title-color
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
    text-align: center
    overflow: auto
    width: 60%
    justify-content: center
    margin: 0 auto
