section.c-prindunalbum#album
  .c-pa-box--wrapper
    .c-pa-box
      .c-pa-box-title Il PRINDUNalbum
      .c-pa-box-text Abbiamo creato l'Album delle Nostre Nozze, cosi' potremo condividere tutte le foto che verranno scattate in ogni angolo e in ogni attimo della Festa e non perdere nemmeno un sorriso di quel giorno speciale!
      .c-pa-box-text Se partecipi, potremo rivivere il PRINDUMONIO attraverso i tuoi occhi e custodire per sempre tutte le foto che scatterai durante la festa! Il PRINDUNalbum sara' un racconto in cui ognuno di voi avra' una parte, un'inquadratura da mille angolazioni: l'<strong>autobiografia di una festa!</strong>
      .c-pa-box-subtitle Come funziona?
      .c-pa-box-text
        ol.c-pa-box-list
          li Scarica quest'app dal tuo cellulare<a class="accent" href='http://www.wedshoots.com/it/download?albumId=ITa8856681'>WEDSHOOTS</a>
          li Una volta installata, potrai accedere all'album inserendo il tuo nome e il seguente codice: <span class="accent">ITa8856681</span>.
          li Durante il PRINDUMONIO scatta piu' foto che puoi, caricale nel PRINDUNalbum per condividerle con noi e tutti gli altri invitati.		
