#album
		h2 Il PRINDUNalbum
		h3 Abbiamo creato l'Album delle Nostre Nozze, cosi' potremo condividere tutte le foto che verranno scattate in ogni angolo e in ogni attimo della Festa e non perdere nemmeno un sorriso di quel giorno speciale!
		br
		|Se partecipi, potremo rivivere il PRINDUMONIO attraverso i tuoi occhi e custodire per sempre tutte le foto che scatterai durante la festa! Il PRINDUNalbum sara' un racconto in cui ognuno di voi avra' una parte, un'inquadratura da mille angolazioni: l'autobiografia di una festa!
		h3 Come funziona?
		ol
			li Scarica quest'app 
			a(href='http://www.wedshoots.com/it/download?albumId=ITa8856681') wedshoots.
			li Una volta installata, potrai accedere all'album inserendo il tuo nome e il seguente codice: ITa8856681.
			li Durante il PRINDUMONIO scatta piu' foto che puoi, caricale nel PRINDUNalbum per condividerle con noi e tutti gli altri invitati.
