.countdown-container
  .countdown-group
    #cd-mesi
    .countdown-label  mesi 
  .countdown-group
    #cd-giorni
    .countdown-label  giorni 
  .countdown-group
    #cd-ore
    .countdown-label  ore 
  .countdown-group
    #cd-minuti
    .countdown-label  minuti 
  .countdown-group
    #cd-secondi
    .countdown-label  secondi 
