.countdown-container
  span#cd-mesi
  span.countdown-label  mesi 
  span#cd-giorni
  span.countdown-label  giorni 
  span#cd-ore
  span.countdown-label  ore 
  span#cd-minuti
  span.countdown-label  minuti 
  span#cd-secondi
  span.countdown-label  secondi 
