include _header

html
  head
    title Wedding
    block head
    
  body
    block content
    script(src="scripts/carosel.js")
    script(src="scripts/countdown.min.js")
    script(src="scripts/main.js")
    
