//- include _header

html
  head
    title Wedding
    block head
    link(href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet")
    
  body
    block content
          
    script(src="scripts/countdown.min.js")
    script(src="scripts/main.js")
    
