//- include _header

html
  head
    title Wedding
    block head
    link(href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet")
    
  body
    .site-container
      .side-content
        include _navbar.jade
        
      .main-content
        block content
          
    script(src="scripts/carosel.js")
    script(src="scripts/countdown.min.js")
    script(src="scripts/main.js")
    
