section.eventinfo-container#eventInfo
  .darkTitle Event Info
  h2.paragraph.textColor La ricerca della cornice adatta per la Nostra Festa e' stata serrata: 
  br
  |abbiamo girato in lungo e in largo per tutto il mondo in sella ai nostri destrieri, ma il nostro cuore e' stato rapito da uno scorcio della Valle di Lanzo, nella quale abbiamo trascorso innumerevoli vacanze e improvvisato gite di ogni tipo.
  |Il PRINDUMONIO non poteva tenersi in altro luogo che in Montagna, che e' quel paesaggio che ha fatto da sfondo a tantissimi bei momenti, costellando i weekend di quasi tutti i nostri inverni e facendo capolino nelle nostre estati: la dimensione che piu' ci rappresenta.

  h2 Hotel Italia - Ristorante Berta
  h3 Via Capoluogo, 188, 10070 Coassolo Torinese (TO)
  h2 Rito Civile alle 11:30
  h2 A seguire Ricevimento Nuziale e Grande Festa!
  h2 (mappa)
