section.c-eventInfo#eventInfo
  .c-ei-panel.one
    .c-ei-panel-header(style="background-image: url(/images/Immagine5.png)")
    .c-ei-panel-body
      .c-ei-title Hotel Italia - Ristorante Berta
      .c-ei-subtitle Via Capoluogo, 188, 10070 Coassolo Torinese (TO)
      .c-ei-separator
      .c-ei-text Rito Civile in loco alle 11:30.<br>A seguire Ricevimento Nuziale e Grande Festa!

  .c-ei-panel.two
    .c-ei-panel-header(style="background-image: url(/images/Immagine6.png)")
    .c-ei-panel-body
      .c-ei-title Event Info
      .c-ei-separator
      .c-ei-text La ricerca della cornice adatta per la Nostra Festa e' stata serrata: abbiamo girato in lungo e in largo per tutto il mondo in sella ai nostri destrieri, ma il nostro cuore e' stato rapito da uno scorcio della Valle di Lanzo, nella quale abbiamo trascorso innumerevoli vacanze e improvvisato gite di ogni tipo.
      .c-ei-text Il PRINDUMONIO non poteva tenersi in altro luogo che in Montagna, che è quel paesaggio che ha fatto da sfondo a tantissimi bei momenti, costellando i weekend di quasi tutti i nostri inverni e facendo capolino nelle nostre estati: la dimensione che piu' ci rappresenta.
