section.c-quote#gifts
  .c-quote--wrapper
    .c-quote-text "Viaggiare è come sognare: la differenza è che non tutti, al risveglio, ricordano qualcosa, mentre ognuno conserva calda la memoria della meta da cui è tornato."
    .c-quote-author (Edgar Allan Poe)

section.c-gifts
  .c-gf-panel.one
    .c-gf-panel-header(style="background-image: url(/images/Immagine4.png)")
    .c-gf-panel-body
      .c-gf-title Hotel Italia - Ristorante Berta
      .c-gf-subtitle Via Capoluogo, 188, 10070 Coassolo Torinese (TO)
      .c-gf-separator
      .c-gf-text Rito Civile in loco alle 11:30.<br>A seguire Ricevimento Nuziale e Grande Festa!

  .c-gf-panel.two
    .c-gf-panel-header(style="background-image: url(/images/Immagine4.png)")
    .c-gf-panel-body
      .c-gf-title Il PRINDUviaggio
      .c-gf-separator
      .c-gf-text Dopo il matrimonio voleremo verso gli Stati Uniti d'America! Atterreremo a San Francisco e faremo il tour dei parchi dell'Ovest on the Road: passando da Las Vegas visiteremo il Grand Canyon, la Monument Valley, l'Antelope Canyon, Lake Powell, l'Horseshoe Bend e la Death Valley. Alla fine di questa meravigliosa avventura, voleremo verso i Caraibi per rilassarci un po' nel mare di Antigua!