section.c-quote
  .c-quote--wrapper
    .c-quote-text "Viaggiare è come sognare: la differenza è che non tutti, al risveglio, ricordano qualcosa, mentre ognuno conserva calda la memoria della meta da cui è tornato."
    .c-quote-author (Edgar Allan Poe)
section.c-gifts#rsvp
  .c-gf-panels
    .c-gf-panel.left
    .c-gf-panel.right
      .c-gf-title Il PRINDUviaggio
      .c-gf-text Dopo il matrimonio voleremo verso gli Stati Uniti d'America! Atterreremo a San Francisco e faremo il tour dei parchi dell'Ovest on the Road: passando da Las Vegas visiteremo il Grand Canyon, la Monument Valley, l'Antelope Canyon, Lake Powell, l'Horseshoe Bend e la Death Valley. Alla fine di questa meravigliosa avventura, voleremo verso i Caraibi per rilassarci un po' nel mare di Antigua!
      .c-gf-text Se vuoi aiutarci a realizzare questo sogno, puoi contribuire a rendere indimenticabile la nostra Luna di Miele!
      .c-gf-text Clicca <a class="accent" href='http://pianetagaia.myweddy.it/carmine-tommasoeeleonora/ita/'>Qui!</a>