section#intro
	h2 Ebbene si, e' proprio vero, ci sposiamo!!
	p 
	|Come avrai intuito, siamo felicissimi! Non stiamo più nella pelle e vogliamo condividere con te questa grande notizia! Per cui Benvenuto al PRINDUMONIO!! Vorremmo sia un giorno speciale per tutti!
	br
	|Da bravi appassionati di tecnologia quali siamo, in attesa del grande giorno, abbiamo creato con le nostre mani, le nostre menti e il prezioso aiuto di qualcuno, questo sito, che vuole essere l'autobiografia di una festa, dove puoi trovare alcune informazioni da condividere.
	br
	|Tra le varie sezioni, la piu' importante e' la "Conferma Presenza", dove puoi confermare la partecipazione al matrimonio. Comunicacelo il prima possibile cosi' faciliterai l'organizzazione dei preparativi!
	br
	|Enjoy!
