section.intro-container#intro
	.title Ebbene si, e' proprio vero, ci sposiamo!!
	h2.paragraph
		|Come avrai intuito, siamo felicissimi! 
		br
		|Non stiamo più nella pelle e vogliamo condividere con te questa grande notizia! 
		br
		|Per cui ... 
		br
		br
		|Benvenuto al 
		span.prindumonio PRINDUMONIO
		|!! 
		br
		|Vorremmo sia un giorno speciale per tutti!
		br
		br
		br
		|Da bravi appassionati di tecnologia quali siamo, in attesa del grande giorno, abbiamo creato con le nostre mani, le nostre menti e il prezioso aiuto di qualcuno, questo sito, che vuole essere l'autobiografia di una festa, dove puoi trovare alcune informazioni da condividere.
		br
		br
		|Tra le varie sezioni, la piu' importante e' la "Conferma Presenza", dove puoi confermare la partecipazione al matrimonio. 
		br
		|Comunicacelo il prima possibile cosi' faciliterai l'organizzazione dei preparativi!
		br
	.title Enjoy!
