nav.c-nav
	
	ul.c-nav-list
		li.c-nav-item
			a.c-nav-link(href='#') E&C
		li.c-nav-item
			a.c-nav-link(href='#welcome') Welcome
		li.c-nav-item
			a.c-nav-link(href='#eventInfo') Event Info
		li.c-nav-item
			a.c-nav-link(href='#album') Album
		li.c-nav-item
			a.c-nav-link(href='#rsvp') RSVP
		li.c-nav-item
			a.c-nav-link(href='#gifts') Gifts