#nav-bar.sticky-wrapper
	nav
		ul
			li
				a.active(href='#masthead') Ele&Ca
			li
				a(href='#welcome') Welcome
			li
				a(href='#intro') About
			li
				a(href='#eventInfo') Event Info
			li
				a(href='#album') Album
			li
				a(href='#rsvp') RSVP
			li
				a(href='#gifts') Gifts
			li
				a(href="#game") Surprise
			li
				a(href="#thanksgiving") Thanksgiving
			li 
				a(href="#guestsbook") Guests Book
