nav.nav-bar
	.nav-bar__title 
		span.pink Ele
		|  &
		span.pink  Ca
		span.green  get
		span.purple  married
	
	ul
		li
			a(href='#masthead') Save the date
		li.active
			a(href='#welcome') Welcome
		li
			a(href='#intro') About
		li
			a(href='#eventInfo') Event Info
		li
			a(href='#album') Album
		li
			a(href='#rsvp') RSVP
		li
			a(href='#gifts') Gifts
		li
			a(href="#game") Surprise
		li
			a(href="#thanksgiving") Thanksgiving
		li 
			a(href="#guestsbook") Guests Book
