#rsvp
		h1 RSVP
		h2 Comunicaci se ci sarai!
		h3 Saremo felicissimi di festeggiare insieme a te il Nostro Giorno Speciale!
		h4 Dai conferma il prima possibile, ci renderai piu' facile l'organizzazione dei preparativi!
		form(action="TODO")
		|Tuo nome: 
		input(type='text', name='yourName')
		br
		br
		|Nome degli ospiti: 
		input(type='text', name='guestName')
		br
		br
		|Numero di adulti:
		input(type='number', name='numAdults')
		br
		br
		|Numero di bambini:
		input(type='number', name='numKids')
		br
		br
		|Per chiedere informazioni o comunicarci eventuali allergie/intolleranze puoi scriverci qui...
		br
		a(href='ele.menduni@gmail.com') ele.menduni@gmail.com
		|  e 
		a(href='prinecato@gmail.com') prinecato@gmail.com
		br
		| o comunicarcelo telefonicamente.

		br
		input(type='submit', value='Conferma')