section.c-thanksgiving#thanksgiving
  .c-tg-panels
    .c-tg-panel.one
      .c-tg-box
        .c-tg-box-title Thanksgiving
        .c-tg-box-text Dietro ad una grande coppia, c'è sempre una grande squadra di persone speciali! ;-)
        .c-tg-box-text Un ringraziamento va alle persone che ci hanno aiutato nei preparativi, che ci hanno supportato e sopportato nella buona e nella cattiva sorte, in salute e in malattia, in un lungo anno di trepidante attesa!
    .c-tg-panel.two
      .c-tg-gallery
        .c-tg-pic.margin.ale
        .c-tg-pic.margin.eli
        .c-tg-pic.margin.fra
        .c-tg-pic.neil
        .c-tg-pic.francesco
        .c-tg-pic.zuli