#thanksgiving
	h1 Dietro ad una grande coppia, c'e' sempre una grande squadra di persone speciali! ;-)
	h2 Un ringraziamento va alle persone che ci hanno aiutato nei preparativi, che ci hanno supportato e sopportato nella buona e nella cattiva sorte, in salute e in malattia, in un lungo anno di trepidante attesa!
	h3 Qui mettiamo un collage di foto di chi ci ha aiutato e dei testimoni
