.c-video-lightbox.hidden#vlb-container
  .c-vlb-overlay.c-vlb-iframe-container#vlb-overlay.
    <iframe id="vlb-iframe" class="c-vlb-iframe" width="560" height="315" src="https://www.youtube.com/embed/4XeEhbkrGUk?rel=0&amp;showinfo=0&enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>