section.welcome-container#welcome
 div.title
   div WELCOME!
 h2.subtitle Dopo 1 anno insieme da appassionati adolescenti, 9 anni da fidanzati e 4 da coinquilini, abbiamo bruciato tutte le tappe e premuto sull'acceleratore, sconvolgendo tutti, ma soprattutto noi stessi, e abbiamo deciso di sposarci!!
 p Carosello con fotoStory ?
