section.c-welcome#welcome
  .c-welcome-box--wrapper
    .c-welcome-box
      .c-welcome-box-title Welcome!
      .c-welcome-box-text Dopo 1 anno insieme da appassionati adolescenti, 9 anni da fidanzati e 4 da coinquilini, abbiamo bruciato tutte le tappe e premuto sull'acceleratore, sconvolgendo tutti, ma soprattutto noi stessi, e abbiamo deciso di sposarci!!
      .c-welcome-box-text <strong>Ebbene si, e' proprio vero, ci sposiamo!!</strong> Come avrai intuito, siamo felicissimi! Non stiamo più nella pelle e vogliamo condividere con te questa grande notizia! Per cui ...

    .c-welcome-box
      .c-welcome-box-title ...BENVENUTO AL PRINDUMONIO!
      .c-welcome-box-text Vorremmo sia un giorno speciale per tutti!<br>Da bravi appassionati di tecnologia quali siamo, in attesa del grande giorno, abbiamo creato con le nostre mani, le nostre menti e il prezioso aiuto di qualcuno, questo sito, dove puoi trovare alcune informazioni da condividere. 
      .c-welcome-box-text Tra le varie sezioni, la piu' importante è la "RSVP", dove puoi confermare la partecipazione al matrimonio. Comunicacelo il prima possibile così faciliterai l'organizzazione dei preparativi!<br>Enjoy!