section.welcome-container#welcome
 .section-title Welcome!
 
 .welcome-intro
   
   .section-text Dopo 1 anno insieme da appassionati adolescenti, 9 anni da fidanzati e 4 da coinquilini, abbiamo bruciato tutte le tappe e premuto sull'acceleratore, sconvolgendo tutti, ma soprattutto noi stessi, e abbiamo deciso di sposarci!!
   
   .welcome-image
     img(src="/images/caricatura-paris.jpg")
 
 include _carosel
