extend templates/_default

block head
	link(rel="stylesheet" href="/styles/home.css")

block content
	include templates/_masthead
	hr
	include templates/_welcome
	hr
	include templates/_intro
	hr
	include templates/_event-info
	hr
	include templates/_album
	hr
	include templates/_rsvp
	hr
	include templates/_gifts
	hr
	include templates/_game
	hr
	include templates/_thanksgiving
	hr
	include templates/_guestbook
