extend templates/_default

block head
	link(rel="stylesheet" href="/styles/home.css")

block content
	div(id="welcome")
		h1 Ele & Ca
		h1 GET MARRIED
		h1 7 luglio 2018
		h1 Save the Date!

	hr

	div(id = "ourStory")
		h1 Our Story
		h2 Dopo 1 anno insieme da appassionati adolescenti, 9 anni da fidanzati e 4 da coinquilini, abbiamo bruciato tutte le tappe e premuto sull'acceleratore, sconvolgendo tutti, ma soprattutto noi stessi, e abbiamo deciso di sposarci!

	hr

	div(id = "eventInfo")
		h1 Event Info
		h2 Hotel Italia - Ristorante Berta
		h3 Via Capoluogo, 188, 10070 Coassolo Torinese (TO)
		h2 Rito Civile alle 11:30
		h2 Ricevimento Nuziale e Grande Festa a seguire

	hr



