extend templates/_default

block head
	link(rel="stylesheet" href="/styles/home.css")

block content
	include templates/_navbar
	include templates/_masthead
	include templates/_countdown
	include templates/_welcome
	include templates/_quote
	include templates/_event-info
	include templates/_album
	include templates/_rsvp
	include templates/_gifts
	include templates/_thanksgiving